*.pyc
*.egg-info
*.egg
*build/
*.DS_Store
*.sass-cache
*.map
.coverage
.node-version
.python-version
.ropeproject/
.ruby-version
.tox
.vscode
dist/
bower_components/
include/
lib/
local/
node_modules
npm-debug.log
pip-selfcheck.json
dist/static/js/html5shiv.min.js
dist/static/js/html5shiv-printshiv.min.js
