include *.txt
include babel.cfg
include LICENSE
recursive-include sphinx_btd_theme *.conf
recursive-include sphinx_btd_theme *.css
recursive-include sphinx_btd_theme *.eot
recursive-include sphinx_btd_theme *.html
recursive-include sphinx_btd_theme *.js
recursive-include sphinx_btd_theme *.svg
recursive-include sphinx_btd_theme *.ttf
recursive-include sphinx_btd_theme *.woff
recursive-include sphinx_btd_theme *.woff2
recursive-include sphinx_btd_theme/locale *.pot *.po *.mo
recursive-include tests *.py
recursive-include tests *.rst
prune build
